.navbar {
  height: 70px;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar section,
.navbar ul {
  /* border: solid; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.navbar section:first-child {
  flex-basis: 10%;
}
.navbar section:nth-child(2) {
  flex-basis: 60%;
}
.navbar section:nth-child(3) {
  flex-basis: 30%;
}

.navbar ul {
  width: 90%;
  list-style: none;
}

.navbar a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

.navbar a:hover {
  color: brown;
}

